bin/ 
obj/ 
.vs/ 
.idea/ 
.vscode/ 
*.user 
*.suo 
*.userosscache 
*.sln.docstates 
*.log 
restore.log 
TestResults/ 
coverage/ 
.coverage 
*.lcov 
*.trx 
*.nupkg 
*.snupkg 
artifacts/ 
[Dd]esktop.ini 
[Tt]humbs.db 
*.DS_Store 
node_modules/ 
*.mdf 
.ldf 
_ReSharper/ 
*.DotSettings.user 
_TestSalvage/